/*
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|Skranji:400,700);
*/

@font-face {
  font-family: 'Century Schoolbook Monospace';
  src: url('../fonts/Century-Schoolbook-Monospace-BT.eot');
  src: url('../fonts/Century-Schoolbook-Monospace-BT.eot?#iefix') format('embedded-opentype'), url('../fonts/Century-Schoolbook-Monospace-BT.woff') format('woff'), url('../fonts/Century-Schoolbook-Monospace-BT.ttf') format('truetype'), url('../fonts/Century-Schoolbook-Monospace-BT.svg#CenturySchoolbookMonospaceBT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Skranji';
  src: url('../fonts/Skranji-Bold.eot');
  src: url('../fonts/Skranji-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Skranji-Bold.woff') format('woff'), url('../fonts/Skranji-Bold.ttf') format('truetype'), url('../fonts/Skranji-Bold.svg#CenturySchoolbookMonospaceBT') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Skranji';
  src: url('../fonts/Skranji-Regular.eot');
  src: url('../fonts/Skranji-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Skranji-Regular.woff') format('woff'), url('../fonts/Skranji-Regular.ttf') format('truetype'), url('../fonts/Skranji-Regular.svg#CenturySchoolbookMonospaceBT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.eot');
  src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Ubuntu-Bold.woff') format('woff'), url('../fonts/Ubuntu-Bold.ttf') format('truetype'), url('../fonts/Ubuntu-Bold.svg#CenturySchoolbookMonospaceBT') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.eot');
  src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Ubuntu-Regular.woff') format('woff'), url('../fonts/Ubuntu-Regular.ttf') format('truetype'), url('../fonts/Ubuntu-Regular.svg#CenturySchoolbookMonospaceBT') format('svg');
  font-weight: normal;
  font-style: normal;
}

.rv #main {
  background-color: rgb(55, 134, 177);
  background-image: url('../img/sky_crop_stretch.jpg');
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  font-family: 'Skranji', 'Skranji', sans-serif !important;
  font-size: 15px;
}

body {
  color: #33342d;
}

body, section.bespoke-slide {
  -webkit-transition: -webkit-transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  -o-transition: -o-transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
}

.nodeconfeu-scroll {
  box-sizing: border-box;
  -webkit-perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
}

.nodeconfeu-scroll .left {
  background-image: url('../img/scroll_horiz_left.png');
  width: 132px;
  height: 401px;
  top: 50%;
  left: 50%;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-left: -311px;
  margin-top: -206px;
}

.nodeconfeu-scroll .right {
  background-image: url('../img/scroll_horiz_right.png');
  width: 100px;
  height: 401px;
  top: 50%;
  left: 50%;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-left: 228px;
  margin-top: -217px;
}

.rv article {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 512px;
  height: 380px;
  top: 50%;
  left: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
}

.rv.classic section.bespoke-after-2 {
  -webkit-transform: translate3d(1024px, 0, 0);
  -moz-transform: translate3d(1024px, 0, 0);
  -ms-transform: translate3d(1024px, 0, 0);
  -o-transform: translate3d(1024px, 0, 0);
  transform: translate3d(1024px, 0, 0);
  opacity: 1;
}

.rv.classic section.bespoke-after-1 {
  -webkit-transform: translate3d(512px, 0, 0);
  -moz-transform: translate3d(512px, 0, 0);
  -ms-transform: translate3d(512px, 0, 0);
  -o-transform: translate3d(512px, 0, 0);
  transform: translate3d(512px, 0, 0);
  opacity: 1;
}

.rv.classic section.bespoke-before-1 {
  -webkit-transform: translate3d(-512px, 0, 0);
  -moz-transform: translate3d(-512px, 0, 0);
  -ms-transform: translate3d(-512px, 0, 0);
  -o-transform: translate3d(-512px, 0, 0);
  transform: translate3d(-512px, 0, 0);
  opacity: 1;
}

.rv.classic section.bespoke-before-2 {
  -webkit-transform: translate3d(-1024px, 0, 0);
  -moz-transform: translate3d(-1024px, 0, 0);
  -ms-transform: translate3d(-1024px, 0, 0);
  -o-transform: translate3d(-1024px, 0, 0);
  transform: translate3d(-1024px, 0, 0);
  opacity: 1;
}

.rv section {
  border-radius: 0;
  background: transparent;
  background-image: url('../img/scroll_horiz_body.png');
  border-radius: 0;
  margin-top: 0;
  margin-left: 0;
  top: 0;
  left: 0;
  background-size: 400% 100%;
  padding-right: 10px;
}

.rv section:nth-child(4n+1) {
  background-position-x: 100%;
}
.rv section:nth-child(4n+2) {
  background-position-x: 200%;
}
.rv section:nth-child(4n+3) {
  background-position-x: 300%;
}

.rv header {
}

.rv footer {
  clear: both;
  background: none;
  font-size: 15px;
  padding: 0.2em 0.2em 0.2em 0.5em;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: rgba(255, 255, 255, 0.33) -1px 1px 5px;
  height: 26px;
  z-index: 102;
}

.rv footer img {
  height: 26px;
  width: 58px;
  float: right;
  margin-top: -10px;
}

.rv h1, .rv h2, .rv h3, .rv h4 {
  color: #33342d;
  font-family: 'Skranji', 'Skranji', sans-serif !important;
  top: auto;
  position: static;
  margin: 10px;
}

.rv section > *:first-child {
  margin-top: 24px;
}

.rv h1 {
  font-size: 56px;
  margin-top: 75px !important;
  text-shadow: none;
}

.rv h2 {
  font-size: 30px;
  margin: 20px 10px 10px 10px;
}

.rv h3 {
  font-size: 22px;
}

.rv h4 {
  font-size: 18px;
}

.rv p {
  padding: 0 20px;
  margin-bottom: 1em;
}

.rv ul {
  margin-left: 4em;
  margin-bottom: 1em;
}

.rv li {
  margin-bottom: 0.5em;
}

.tape-loading-img {
  text-align: center;
}

.tape-loading-img img {
  width: 400px;
  margin: auto;
  border: solid white 2px;
  border-radius: 5px;
}

.tape-loading-img span {
  position: absolute;
  bottom: 50px;
  left: 64px;
  color: white;
  text-shadow: 0 0 10px black;
  font-style: italic;
}

.bespoke-bullet-active + .tape-loading-img {
  display: none;
  position: absolute;
}

.bespoke-bullet-inactive {
  display: none;
}

.contribs {
  margin: 0 auto 10px auto;
}

.contribs td {
  text-align: center;
  width: 50px;
}

.contribs img {
  max-width: 25px;
  max-height: 25px;
  border: solid white 1px;
  border-radius: 2px;
}

.contribs span {
  font-size: 7px;
  display: block;
}

.highlight {
  margin: 0.25em 0.5em 1em 0.5em;
  border-radius: 3px;
  background: transparent;
}

.highlight pre, pre, code {
  font-family: 'Century Schoolbook Monospace', monospace !important;
  white-space: nowrap;
  padding: 0px 5px;
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 3px;
  font-size: 11px;
}

code {
  font-size: 12px;
}

.highlight pre, pre {
  overflow-x: auto;
  white-space: pre;
  padding: 10px;
  line-height: 140%;
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
}

pre code, pre tt {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  border: none;
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  min-height: 25px;
}
.ecosystem {
  font-family: 'Ubuntu', 'Ubuntu' !important;
  font-size: 11.5px;
  text-shadow: 0px 0px 4px white;
  margin-left: 8px;
}
.ecosystem .section {
  text-align: right;
  vertical-align: top
}
.ecosystem td {
  padding: 5px;
  min-height: 10px;
}
.ecosystem > tbody > tr > td:nth-child(2) {
  padding: 0;
}
.ecosystem > tbody > tr > td:first-child {
  padding: 0;
  xborder: solid 1px white;
  font-weight: bold;
}
.ecosystem > tbody > tr > td:first-child span {
  display: block;
  padding: 5px;
}
.ecosystem table td {
  border: solid 1px transparent;
}
.ecosystem .tools > td:first-child {
  background-color: rgba(49, 190, 164, 0.1);
  color: rgb(36, 138, 119);
  border: solid 1px transparent;
}
.ecosystem .tools table td {
  border-color: rgb(49, 190, 164);
  background-color: rgba(49, 190, 164, 0.3);
}
.ecosystem .packages > td:first-child {
  background-color: rgba(55, 134, 177, 0.1);
  color: rgb(18, 43, 57);
  border: solid 1px transparent;
}
.ecosystem .packages table td {
  border-color: rgb(55, 134, 177);
  background-color: rgba(55, 134, 177, 0.3);
}
.ecosystem .extensions > td:first-child {
  background-color: rgba(232, 142, 12, 0.1);
  color: rgb(108, 76, 8);
  border: solid 1px transparent;
}
.ecosystem .extensions table td {
  border-color: rgb(232, 142, 12);
  background-color: rgba(232, 142, 12, 0.3);
}
.ecosystem .pluggability > td:first-child {
  background-color: rgba(108, 12, 232, 0.1);
  color: rgb(74, 8, 158);
  border: solid 1px transparent;
}
.ecosystem .pluggability table td {
  border-color: rgb(108, 12, 232);
  background-color: rgba(108, 12, 232, 0.3);
}
.ecosystem .core table {
  width: 100%;
}
.ecosystem .core > td:first-child {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgb(134, 0, 0);
  border: solid 1px transparent;
}
.ecosystem .core table td {
  border-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  padding: 13px;
}
.ecosystem > tbody > tr.core > td:first-child span {
  padding: 13px;
}
.ecosystem .storage > td:first-child {
  background-color: rgba(255, 244, 13, 0.1);
  color: rgb(80, 80, 6);
}
.ecosystem .storage table td {
  border-color: rgb(255, 255, 13);
  background-color: rgba(255, 255, 13, 0.3);
}
.ecosystem .rotate {
  width: 40px;
  height: 124px;
}
.ecosystem .rotate span {
  position: absolute;
  display: block;
  width: 124px;
  text-align: left;
  -webkit-transform-origin: 36px -15px;
  -moz-transform-origin:    36px -15px;
  -ms-transform-origin:     36px -15px;
  -o-transform-origin:      36px -15px;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
}
