{% extends 'layout.html' %}

{% block content %}

<div id="for">
  {% for post in posts %}

    <section class="post-content">

      <h2 id="{{ post.spec.base }}"><a href="{{ post.spec.path }}">{{ post.spec.title }}</a></h2>

      <div class="post-meta">
        <p class="byline">by {{ post.spec.author }} on {{ post.spec.date|date("F j, Y") }}</p>
        <p class="link"><a href="{{ post.spec.path }}">Permalink &amp; Comments</a></p>
        <!-- <p class="commentcount"><a href="{{ post.spec.path }}#disqus_thread">Comments</a></p> -->
      </div>

      <section class="post-body">
        {{ post.page|raw }}
      </section>

    </section>

  {% endfor %}
</div>

  <section class="pager">
    {% if prevPage != null %}

      <div class="prev">
        <a href="/{% if prevPage == 0 %}index.html{% else %}page{{ prevPage }}.html{% endif %}">Newer posts &raquo;</a>
      </div>

    {% endif %}

    {% if nextPage != null %}

      <div class="next">
        <a href="/page{{ nextPage }}.html">&laquo; Older posts</a>
      </div>

    {% endif %}
  </section>
  <div style="clear: both;"></div>

  <!--
  <script type="text/javascript">
    var disqus_shortname = 'rvagg'

    !(function () {
      var s = document.createElement('script')
      s.async = true
      s.type = 'text/javascript'
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js'
      !(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s)
    }())
  </script>
  -->

{% endblock %}